Repository jessy-bgl/impact: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write

fix(actions): update reduceCarSize label translation
  src/view/translations/fr/actions/transportActions.json
Due: none

feat(intro): display Intro screen on first launch
  App.tsx
  assets/images/ecology.gif
  src/common/AppNavigation.tsx
  src/data/store/store.ts
  src/data/store/storeActions.ts
  src/view/screens/intro/Intro.tsx
  src/view/translations/fr.js
  src/view/translations/fr/intro.json
Due: prettier --write

chore: dependencies updated
  package-lock.json
  package.json
Due: none

chore: web deployment scripts updated in package.json
  package.json
Due: none

chore: app version bumped to 1.0.2
  app.json
Due: none

chore: update tests github action to run only on push on main branch
  .github/workflows/tests.yml
Due: none

chore: fix eas config - android production build
  eas.json
Due: none

chore: expo config updated
  app.json
Due: none

chore: update android splash screen resizeMode in app.json
  app.json
Due: none

chore: app version bumped to 1.1.0
  app.json
Due: none

chore: correctif d'affichage de l'icone de l'app au lancement
  app.json
Due: none

chore: app version bumped to 1.1.1
  app.json
Due: none

chore: update .nvmrc to version 20
  .nvmrc
Due: none

chore: package-lock updated
  package-lock.json
Due: none

chore: add deploy PWA workflow on release
  .github/workflows/deploy_pwa.yml
  .github/workflows/tests.yml
  package.json
Due: none

chore: add nosgestesclimat and publicodes dependencies
  package-lock.json
  package.json
Due: none

chore: add TransportFootprint entity
  src/domain/entities/footprints/TransportFootprint.ts
Due: prettier --write

chore: add ADEME footprint engine and Profile entity
  src/data/ademe-footprint-model.ts
  src/domain/entities/AdemeFootprintEngine.ts
  src/domain/entities/profile/Profile.ts
Due: prettier --write

chore: add Question entity
  src/domain/entities/Question.ts
Due: prettier --write

chore: add profile and footprints to the store
  src/data/store/store.ts
  src/data/store/storeActions.ts
Due: prettier --write

chore: profile repository
  src/data/repositories/profile.store.repository.ts
  src/domain/repositories/profile.repository.ts
Due: prettier --write

chore: footprints repository
  src/data/repositories/footprints.store.repository.ts
  src/domain/repositories/footprints.repository.ts
Due: prettier --write

tmp
  App.tsx
  app.config.ts
  app.json
  main.ts
  package.json
  src/App.tsx
  src/AppTheme.ts
  src/common/UsecasesContext.ts
  src/data/ademe-footprint-model.ts
  src/data/repositories/profile.store.repository.ts
  src/data/store/store.ts
  src/data/store/storeActions.ts
  src/domain/entities/AdemeFootprintEngine.ts
  src/domain/entities/footprints/types.ts
  src/domain/usecases/actions/__tests__/updateActionState.test.ts
  src/domain/usecases/actions/__tests__/updateActions.test.ts
  src/domain/usecases/actions/updateActionState.ts
  src/domain/usecases/actions/updateActions.ts
  src/domain/usecases/footprints/computeAnnualFootprint.ts
  src/domain/usecases/footprints/fetchTransportFootprint.ts
  src/domain/usecases/footprints/updateTransportFootprint.ts
  src/domain/usecases/profile/fetchProfile.ts
  src/domain/usecases/profile/updateProfile.ts
  src/useApp.ts
  src/view/components/forms/NumericInput.tsx
  src/view/components/forms/TextLabel.tsx
  src/view/components/modals/InfoModal.tsx
  src/view/screens/actions/useActions.ts
  src/view/screens/emissions/Emissions.tsx
  src/view/screens/profile/QuestionsContext.ts
  src/view/screens/profile/transport/car/CarSection copy.tsx
  src/view/screens/profile/transport/car/CarSection.tsx
  src/view/screens/profile/transport/car/useCar copy.ts
  src/view/screens/profile/transport/car/useCar.ts
  src/view/screens/profile/useQuestionsContext.ts
  src/view/screens/profile/utils/types.ts
  src/view/screens/profile/utils/useUpdateForm.ts
  src/view/view-models/useFootprints.ts
Due: eslint --max-warnings=0, prettier --write

chore: improve AdemeAction types
  src/domain/entities/action/AdemeAction.ts
Due: prettier --write

refactor: move evaluate method to AdemeEngine
  src/domain/entities/AdemeEngine.ts
  src/domain/entities/AdemeFootprintEngine.ts
Due: prettier --write

test: fix updateActionState test
  src/domain/usecases/actions/__tests__/updateActionState.test.ts
Due: prettier --write

feature(actions): display action description in modal when clicking on action category icon
  src/view/components/modals/InfoModal.tsx
  src/view/screens/actions/ActionCard.tsx
  src/view/screens/actions/ActionCardCategory.tsx
  src/view/screens/actions/ActionCardCategoryIcon.tsx
  src/view/screens/profile/components/forms/TextLabel.tsx
Due: prettier --write

refactor: cleanup profile repository
  src/data/repositories/profile.store.repository.ts
  src/domain/repositories/profile.repository.ts
Due: prettier --write

build: update publicodes to 1.5.4, @incubateur-ademe/nosgestesclimat to 3.3.3
  package-lock.json
  package.json
  src/data/ademe-footprint-model.ts
Due: prettier --write

perf(transport): ademe computation optimized for transport profile
  src/App.tsx
  src/domain/entities/AdemeEngine.ts
  src/domain/entities/AdemeFootprintEngine.ts
  src/domain/entities/question/AdemeQuestion.ts
  src/domain/usecases/profile/updateProfile.ts
  src/useApp.ts
  src/view/screens/profile/QuestionsContext.ts
  src/view/screens/profile/components/lists/ListAccordion.tsx
  src/view/screens/profile/everyday-things/EverydayThings.tsx
  src/view/screens/profile/food/Food.tsx
  src/view/screens/profile/housing/Housing.tsx
  src/view/screens/profile/transport/Transport.tsx
  src/view/screens/profile/transport/boat/BoatSection.tsx
  src/view/screens/profile/transport/boat/BoatSectionContent.tsx
  src/view/screens/profile/transport/boat/useBoat.ts
  src/view/screens/profile/transport/car/CarSection.tsx
  src/view/screens/profile/transport/car/CarSectionContent.tsx
  src/view/screens/profile/transport/car/useCar.ts
  src/view/screens/profile/transport/other/OtherSection.tsx
  src/view/screens/profile/transport/other/OtherSectionContent.tsx
  src/view/screens/profile/transport/other/useOther.ts
  src/view/screens/profile/transport/plane/PlaneSection.tsx
  src/view/screens/profile/transport/plane/PlaneSectionContent.tsx
  src/view/screens/profile/transport/plane/usePlane.ts
  src/view/screens/profile/transport/public-transport/PublicTransportSection.tsx
  src/view/screens/profile/transport/public-transport/PublicTransportSectionContent.tsx
  src/view/screens/profile/transport/public-transport/usePublicTransport.ts
  src/view/screens/profile/transport/two-wheeler/TwoWheelerSection.tsx
  src/view/screens/profile/transport/two-wheeler/TwoWheelerSectionContent.tsx
  src/view/screens/profile/transport/two-wheeler/useTwoWheeler.ts
  src/view/screens/profile/utils/useGetQuestions.ts
  src/view/screens/profile/utils/useProfileForm.ts
Due: eslint --max-warnings=0, prettier --write

refactor: unused QuestionsContext removed
  src/App.tsx
  src/view/screens/profile/QuestionsContext.ts
Due: eslint --max-warnings=0, prettier --write

ui(profile): appbar stick on top
  src/common/AppNavigation.tsx
Due: prettier --write

ui(profile): auto scroll to selected profile section
  src/view/screens/profile/components/lists/ListAccordion.tsx
  src/view/screens/profile/components/lists/ListAccordionGroup.tsx
  src/view/screens/profile/components/lists/ListContentContainer.tsx
  src/view/screens/profile/everyday-things/EverydayThings.tsx
  src/view/screens/profile/food/Food.tsx
  src/view/screens/profile/housing/Housing.tsx
  src/view/screens/profile/transport/Transport.tsx
  src/view/screens/profile/utils/ScrollProfileSectionContext.tsx
  src/view/screens/profile/utils/useScrollProfile.ts
Due: prettier --write

fix(profile): round values on increment and decrement
  src/view/screens/profile/components/forms/inputs/NumericInput.tsx
Due: prettier --write

fix(profile) : SegmentedButtons selected color fixed for mobile
  src/view/screens/profile/components/forms/inputs/SelectSegmented.tsx
Due: prettier --write

fix(profile): select radio label alignment fixed for mobile
  src/view/screens/profile/components/forms/inputs/SelectRadio.tsx
Due: prettier --write

Path conditions:
  eslint --max-warnings=0: any of: src/**.{ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css}
