Repository jessy-bgl/impact: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write

fix(actions): action buttons design improved for mobile
  src/view/screens/actions/ActionCardButtons.tsx
Due: prettier --write

perf(Actions): load time optimized
  src/common/AppNavigation.tsx
  src/view/screens/actions/Actions.tsx
  src/view/screens/actions/useActions.ts
Due: prettier --write

perf(Actions): memory optimizations
  src/common/AppNavigation.tsx
  src/view/screens/actions/ActionCard.tsx
  src/view/screens/actions/Actions.tsx
  src/view/screens/actions/ActionsList.tsx
  src/view/screens/actions/useActions.ts
  src/view/translations/fr/actions/common.json
Due: prettier --write

fix: splashscreen display (using expo-splash-screen)
  app.config.ts
  package.json
  src/App.tsx
  src/useApp.ts
Due: eslint --max-warnings=0, prettier --write

build: dependencies upgraded
  .eslintignore
  .eslintrc.js
  .lintstagedrc
  app.config.ts
  eslint.config.mjs
  package-lock.json
  package.json
  src/AppTheme.ts
  src/common/AppNavigation.tsx
  src/view/screens/actions/Actions.tsx
  src/view/screens/actions/ActionsList.tsx
  src/view/screens/comparator/Comparator.tsx
  src/view/screens/emissions/EmissionsDistribution.web.tsx
  tsconfig.json
Due: eslint --max-warnings=0, prettier --write

fix(navigation): transitions improved
  src/common/AppNavigation.tsx
Due: prettier --write

ui(actions): adjust font size for actions counter display
  src/view/screens/actions/Actions.tsx
Due: prettier --write

refactor: set questionKeys type to Profile keys
  src/view/screens/profile/everyday-things/clothes/useClothes.ts
  src/view/screens/profile/housing/energy/useEnergy.ts
  src/view/screens/profile/housing/home/useHome.ts
  src/view/screens/profile/housing/leisure/useLeisure.ts
  src/view/screens/profile/transport/boat/useBoat.ts
  src/view/screens/profile/transport/other/useOther.ts
  src/view/screens/profile/transport/plane/usePlane.ts
  src/view/screens/profile/transport/public-transport/usePublicTransport.ts
Due: prettier --write

ci: update Node.js version to 22 in CI workflows and add artifact handling for PWA deployment
  .github/workflows/deploy_pwa.yml
  .github/workflows/tests.yml
  package.json
Due: none

ci: fix deploy to gh-pages stage
  .github/workflows/deploy_pwa.yml
Due: none

ci: fix build stage - upload to gh-pages
  .github/workflows/deploy_pwa.yml
Due: none

refactor: move BottomSheetContext in common/ folder
  src/common/BottomSheetContext.tsx
  src/view/components/BottomSheet.tsx
  src/view/screens/profile/components/forms/TextLabel.tsx
Due: prettier --write

fix(profile): autoscroll to selected section and bottomSheet display fixed
  src/view/screens/profile/components/lists/ListAccordionGroup.tsx
Due: prettier --write

build(pwa): add favicon settings
  public/manifest.json
Due: none

build(pwa): fix icons size
  public/icon.png
  public/icon192.png
  public/icon512.png
  public/manifest.json
Due: none

Updates
  index.html
  sw.js
  sw.js.map
Due: prettier --write

ui(intro): update button text color for better visibility
  src/view/screens/intro/Intro.tsx
Due: prettier --write

build(pwa): fix icons
  public/index.html
Due: prettier --write

build(pwa): fix splashcreen for iOS
  public/index.html
Due: prettier --write

test(footprints): add test for useFootprints hook
  src/common/UsecasesContext.ts
  src/constants.ts
  src/data/store/store.ts
  src/domain/usecases/actions/syncEngineWithStoredActions.test.ts
  src/domain/usecases/actions/updateActionState.test.ts
  src/view/view-models/useFootprints.test.tsx
Due: eslint --max-warnings=0, prettier --write

fix(translations): update French translation for Profile page title
  src/view/translations/fr/pages.json
Due: none

fix(actions): enhance loading state handling on Actions page
  src/view/screens/actions/Actions.tsx
  src/view/screens/actions/ActionsList.tsx
Due: prettier --write

fix(footprints): update annual footprint calculation for everyday things category
  src/domain/entities/footprints/EverydayThingsFootprint.ts
  src/view/view-models/useFootprints.test.tsx
Due: prettier --write

refactor(intro): update store for intro pages
  src/common/AppNavigation.tsx
  src/data/store/store.ts
  src/data/store/storeActions.ts
  src/view/screens/intro/Intro.tsx
Due: prettier --write

chore(config): update expo app configuration for better version management
  app.config.ts
  eas.json
  package-lock.json
  package.json
Due: prettier --write

ci(deploy): add mobile and PWA deployment workflows with versioning
  .github/workflows/deploy_mobile.yml
  .github/workflows/deploy_pwa.yml
Due: none

fix(deploy): enhance mobile build process
  .github/workflows/deploy_mobile.yml
  .github/workflows/deploy_pwa.yml
  eas.json
Due: none

docs: README updated
  README.md
Due: prettier --write

ci(deploy): enable auto-submit for Android build
  .github/workflows/deploy_mobile.yml
Due: none

fix: syncStoredProfileWithEngine is now called on app start in production
  src/App.tsx
  src/useApp.ts
Due: eslint --max-warnings=0, prettier --write

fix(Profile): update onBlur to onEndEditing for NumericInput to fix value on mobile
  src/view/screens/profile/components/forms/inputs/NumericInput.tsx
Due: prettier --write

docs: web screenshots updated
  docs/screenshots/web/web_1.png
  docs/screenshots/web/web_2.png
  docs/screenshots/web/web_3.png
  docs/screenshots/web/web_4.png
  docs/screenshots/web/web_5.png
  docs/screenshots/web/web_6.png
Due: none

Path conditions:
  eslint --max-warnings=0: any of: src/**.{ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css}
